PORT=8787
ALLOWED_ORIGIN=https://rayjmorrow.github.io
STORE_RETURN_URL=https://rayjmorrow.github.io/Hot-Tub-Factory-Outlet/order-return.html
STORE_CANCEL_URL=https://rayjmorrow.github.io/Hot-Tub-Factory-Outlet/cart.html
TAXJAR_API_KEY=replace_me
TAXJAR_SANDBOX=true
AUTHORIZE_API_LOGIN_ID=replace_me
AUTHORIZE_TRANSACTION_KEY=replace_me
AUTHORIZE_SANDBOX=true
SHIP_FROM_COUNTRY=US
SHIP_FROM_STATE=PA
SHIP_FROM_ZIP=replace_me
SHIP_FROM_CITY=replace_me
SHIP_FROM_STREET=replace_me
# Map employee discount codes to names or {"name":"Employee Name","id":"employee-id"} objects.
# Example: {"STEVE10":{"name":"Steve","id":"steve"},"SAM10":{"name":"Sam","id":"sam"}}
EMPLOYEE_CODES_JSON={}
